<section class="container mt-3">
  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="card py-2 px-4">
        <div class="card-body">
          <h4 class="mb-4">Manage Bootcamp</h4>
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="../../../../assets/img/image_1.jpg"
                  class="card-img"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="bootcamp.html"
                      >Devworks Bootcamp
                      <span class="float-right badge badge-success"
                        >8.8</span
                      ></a
                    >
                  </h5>
                  <span class="badge badge-dark mb-2">Boston, MA</span>
                  <p class="card-text">
                    Web Development, UI/UX, Mobile Development
                  </p>
                </div>
              </div>
            </div>
          </div>
          <form class="mb-4">
            <div class="form-group">
              <div class="custom-file">
                <input
                  type="file"
                  name="photo"
                  class="custom-file-input"
                  id="photo"
                />
                <label class="custom-file-label" for="photo"
                  >Bootcamp Image</label
                >
              </div>
            </div>
            <input
              type="submit"
              class="btn btn-light btn-block"
              value="Upload Image"
            />
          </form>
          <a href="add-bootcamp.html" class="btn btn-success btn-block"
            >Edit Bootcamp Details</a
          >
          <a href="manage-courses.html" class="btn btn-primary btn-block"
            >Manage Courses</a
          >
          <a href="#" class="btn btn-danger btn-block">Remove Bootcamp</a>
          <p class="text-muted mt-5">
            * You can only add one bootcamp per account.
          </p>
          <p class="text-muted">
            * You must be affiliated with the bootcamp in some way in order to
            add it to DevCamper.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
