img {
  width: 70%;
}

.jumbotron {
  margin: auto;
  padding: 10px;
  background-color: white;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 1370px) {
  p {
    font-size: 18px;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
  }
}
